In [1]:
import findspark
import os
findspark.init(os.environ.get('SPARK_HOME'))
data_dir = os.environ.get('DATA_DIR')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [4]:
df = spark.read.csv(
    os.path.join(data_dir, 'appl_stock.csv'),
    inferSchema=True,
    header=True)

In [5]:
df.head(1)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)]

In [6]:
df.select(['Open', 'Date']).show()

+------------------+--------------------+
|              Open|                Date|
+------------------+--------------------+
|        213.429998|2010-01-04 00:00:...|
|        214.599998|2010-01-05 00:00:...|
|        214.379993|2010-01-06 00:00:...|
|            211.75|2010-01-07 00:00:...|
|        210.299994|2010-01-08 00:00:...|
|212.79999700000002|2010-01-11 00:00:...|
|209.18999499999998|2010-01-12 00:00:...|
|        207.870005|2010-01-13 00:00:...|
|210.11000299999998|2010-01-14 00:00:...|
|210.92999500000002|2010-01-15 00:00:...|
|        208.330002|2010-01-19 00:00:...|
|        214.910006|2010-01-20 00:00:...|
|        212.079994|2010-01-21 00:00:...|
|206.78000600000001|2010-01-22 00:00:...|
|202.51000200000001|2010-01-25 00:00:...|
|205.95000100000001|2010-01-26 00:00:...|
|        206.849995|2010-01-27 00:00:...|
|        204.930004|2010-01-28 00:00:...|
|        201.079996|2010-01-29 00:00:...|
|192.36999699999998|2010-02-01 00:00:...|
+------------------+--------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import (dayofmonth,
                                   hour,
                                   dayofyear,
                                   month,
                                   year,
                                   weekofyear,
                                   format_number,
                                   date_format)

In [8]:
df.select(dayofmonth(df['date'])).show()

+----------------+
|dayofmonth(date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [9]:
df.select(month(df['date'])).show()

+-----------+
|month(date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [10]:
new_df = df.withColumn('year', year(df['date']))

In [11]:
res = new_df.groupBy('year').mean().select(['Year','avg(Close)'])
new = res.withColumnRenamed('avg(Close)', 'Average Closing Price')

In [12]:
new.select(['Year', format_number('Average Closing Price', 2).alias('avg close')]).show()

+----+---------+
|Year|avg close|
+----+---------+
|2015|   120.04|
|2013|   472.63|
|2014|   295.40|
|2012|   576.05|
|2016|   104.60|
|2010|   259.84|
|2011|   364.00|
+----+---------+